# Python
backend/__pycache__
backend/app.egg-info
backend/*.pyc
backend/.mypy_cache
backend/.coverage
backend/htmlcov
backend/.venv
backend/.gitignore
backend/README.md
backend/scripts
backend/.DS_Store

# Local development runtime artifacts
.runtime

# VCS / editor metadata
.git
.github
.idea

# Frontend local artifacts
frontend/node_modules
frontend/dist
